<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionBD"
			 connectionString="Server=DESKTOP-G7DOIEM\SQLEXPRESS;Database=ControlAcademico;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>